<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/1a447854ff.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="~/archivos/icon.ico" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Solicitud De Empleo", "FormularioE", "Formulario")</li>
                    <li>@Html.ActionLink("Conversion de Unidades", "Index", "Conversiones")</li>
                    <li>@Html.ActionLink("Lector de Archivos xls", "Index", "LectorArchivos")</li>
                    <li>@Html.ActionLink("Contenido Variado", "Contenido", "Content")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer-distributed">

            <div class="footer-left">

                <h3>Atlas<span>Tecnology</span></h3>

                <ul class="footer-links">
                    <li>@Html.ActionLink("Solicitud De Empleo", "FormularioE", "Formulario")</li>
                    <li>@Html.ActionLink("Conversion de Unidades", "Index", "Conversiones")</li>
                    <li>@Html.ActionLink("Lector de Archivos xls", "Index", "LectorArchivos")</li>
                    <li>@Html.ActionLink("Contenido Variado", "Contenido", "Content")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                </ul>

                <p class="footer-company-name">AtlasTecnology &copy; 2020</p>
            </div>

            <div class="footer-center">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.713529414296!2d-69.66484998538833!3d18.45131158744933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf7ff3f1653e37%3A0xc80c36909a523777!2sInstituto%20Tecnol%C3%B3gico%20de%20Las%20Am%C3%A9ricas%20(ITLA)!5e0!3m2!1ses!2sdo!4v1569347114980!5m2!1ses!2sdo" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>Sobre Nosotros</span>
                    Todos los procesos de tu negocio los puedes controlar con Adm Cloud de forma integrada. El sistema posee una gran variedad de módulos los cuales puede adquirir por separado para armar la solución a tu medida.
                </p>

                <div class="footer-icons">

                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>

                </div>

            </div>

        </footer>
    </div>

    <script src="~/Scripts/Script.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Validation", false)
</body>
</html>
